body{
    margin: 100px;
}
#login-form{
    margin-top: 50px;
}

#account-area{
    display: none;
    margin-top: 100px;    
}
#account-details-area{
    margin-top: 50px;
    color: white;
}
#input-action-area{
    margin-top: 50px;

}
.box-type-1{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#deposit-area{
    background-color: slateblue;
    
}

#withdraw-area{
    background-color: tomato;
    
}
#balance-area{
    background-color: orange;
    
}

